<<<<<<< HEAD
/*======= SLIDER =======*/
=======
>>>>>>> c8253af7cca21e228e82405509b3e9bba37ad73b
.skill-term-logo {
	width: 100%;
	display: flex;
	margin-left: 40%;
	margin-top: 45px;
}

<<<<<<< HEAD
#tool-term-logo {
	margin-top: 165px;
}

@keyframes slide1 {
=======

@keyframes slide {
>>>>>>> c8253af7cca21e228e82405509b3e9bba37ad73b
	from {
		transform: translateX(0);
	}

	to {
		transform: translateX(-100%);
	}
}

<<<<<<< HEAD
@keyframes slide2 {
	from {
		transform: translateX(-100%);
	}

	to {
		transform: translateX(0);
	}
}

=======
>>>>>>> c8253af7cca21e228e82405509b3e9bba37ad73b
.skill-logos {
	overflow: hidden;
	padding: 60px 0;
	white-space: nowrap;
	position: relative;
<<<<<<< HEAD
	margin-right: 36%;
	display: flex;
	flex-direction: flex-start;
}

#tool-logos {
	margin-right: 0 !important;
=======
	margin-right: 30%;
>>>>>>> c8253af7cca21e228e82405509b3e9bba37ad73b
}

.skill-logos:before,
.skill-logos:after {
	position: absolute;
	top: 0;
	width: 100px;
	height: 100%;
	content: "";
	z-index: 2;
}

.skill-logos:before {
	left: 0;
<<<<<<< HEAD
	background: linear-gradient(to left, rgba(0, 0, 0, 0), var(--color-dark-mode));
=======
	background: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(17, 17, 27));
>>>>>>> c8253af7cca21e228e82405509b3e9bba37ad73b
}

.skill-logos:after {
	right: 0;
<<<<<<< HEAD
	background: linear-gradient(to right, rgba(0, 0, 0, 0), var(--color-dark-mode));
}

.skill-logos:hover .logos-slide,
#tool-logos:hover .logos-slide {
=======
	background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(17, 17, 27));
}

.skill-logos:hover .logos-slide {
>>>>>>> c8253af7cca21e228e82405509b3e9bba37ad73b
	animation-play-state: paused;
}

.logos-slide {
<<<<<<< HEAD
	display: flex;
	animation: 15s slide1 infinite linear;
}
#logos-slide-3,
#logos-slide-4 {
	animation: 15s slide2 infinite linear;
}

/*======= SKILL BOX =======*/

.skill-box {
	display: flex;
	height: auto;
	gap: 13px;
	justify-content: center;
	column-gap: 1.5rem;
=======
	display: inline-block;
	animation: 15s slide infinite linear;
}

/* ============================================================ */
/* ============================================================ */
/* ============================================================ */
/* ============================================================ */
/* ============================================================ */
/* ============================================================ */


.skill-box {
	display: flex;
    height: auto;
    gap: 13px;
    justify-content: center;
    column-gap: 1.5rem;
>>>>>>> c8253af7cca21e228e82405509b3e9bba37ad73b
	margin-right: 25px;
}

.skill-border {
	height: 90px;
<<<<<<< HEAD
	width: 85px;
	display: flex;
	/* background: #0e001b; */
	background: var(--skill-border-bg);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(19px);
	-webkit-backdrop-filter: blur(20px);
	border-radius: 10px;
	border: 2px solid var(--skill-border);
	justify-content: center;
	align-items: center;
	transition: 0.2s ease-in-out;
}

=======
    width: 85px;
    display: flex;
    background: rgba(14, 0, 27);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(19px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 10px;
    border: 3px solid rgba(255, 255, 255, 0.1);
    justify-content: center;
    align-items: center;
    transition: 0.2s ease-in-out;
}
>>>>>>> c8253af7cca21e228e82405509b3e9bba37ad73b
.skill-img {
	position: absolute;
	transition: 0.2s ease-in-out;
	z-index: 1;
}

.skill-text-div {
<<<<<<< HEAD
	color: #fff;
=======
>>>>>>> c8253af7cca21e228e82405509b3e9bba37ad73b
	opacity: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	transition: 0.2s ease-in-out;
<<<<<<< HEAD
	text-shadow: 0 0 3px red, 0 0 5px blue;
	z-index: 2;

}

.skill-text-div>.skill-txt-head {
	font-size: 1.1rem;
	font-weight: 700;
	text-align: center;
}

.skill-border:hover>.skill-text-div {
	opacity: 1;
}

.skill-border:hover>.skill-img {
=======
	/* color: aqua; */
	text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
	z-index: 2;
	
}

.skill-text-div > .skill-txt-head {
	font-size: 1.1rem;
    font-weight: 700;
    text-align: center;
}

.skill-border:hover > .skill-text-div {
	opacity: 1;
}

.skill-border:hover > .skill-img {
>>>>>>> c8253af7cca21e228e82405509b3e9bba37ad73b
	height: 65%;
	filter: blur(8px);
	animation: anim 3s infinite;
}

@keyframes anim {
	0% {
		transform: translateY(0);
	}

	50% {
<<<<<<< HEAD
		transform: translateY(-10px);
=======
		transform: translateY(-20px);
>>>>>>> c8253af7cca21e228e82405509b3e9bba37ad73b
	}

	100% {
		transform: translateY(0);
	}
}

.skill-border:hover {
	transform: scale(1.04) rotate(-1deg);
}

.skill-icon {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 61px;
}

.javascript {
<<<<<<< HEAD
	filter: invert(76%) sepia(15%) saturate(7243%) hue-rotate(355deg) brightness(103%) contrast(104%);
}

.wordpress {
	filter: invert(30%) sepia(92%) saturate(836%) hue-rotate(169deg) brightness(98%) contrast(101%);
=======
	filter: invert(76%) sepia(15%) saturate(7243%) hue-rotate(355deg)
		brightness(103%) contrast(104%);
}

.wordpress {
	filter: invert(30%) sepia(92%) saturate(836%) hue-rotate(169deg)
		brightness(98%) contrast(101%);
>>>>>>> c8253af7cca21e228e82405509b3e9bba37ad73b
}



@media (min-width: 768px) {
	.skill-box {
		display: flex;
		width: 100%;
		align-items: center;
		z-index: 10;
		position: relative;
		flex-direction: row;
		justify-content: center;
		height: fit-content;
		gap: 27px;
	}
<<<<<<< HEAD

=======
>>>>>>> c8253af7cca21e228e82405509b3e9bba37ad73b
	.skill-border {
		height: 117px;
		width: 120px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
<<<<<<< HEAD

	.skill-text-div {
		gap: 0;
	}

	.skill-icon {
		width: 7.9rem;
	}

=======
	.skill-text-div {
		gap: 0;
	}
	.skill-icon {
		width: 7.9rem;
	}
>>>>>>> c8253af7cca21e228e82405509b3e9bba37ad73b
	.skill-icon .javascript {
		width: 170px;
	}
}

@media (min-width: 1200px) {
<<<<<<< HEAD
	.skill-text-div>.skill-txt-head {
=======
	.skill-text-div > .skill-txt-head {
>>>>>>> c8253af7cca21e228e82405509b3e9bba37ad73b
		font-size: 1.5rem;
		font-weight: 700;
		text-align: center;
		font-size: 2rem;
	}
<<<<<<< HEAD

	.skill-icon {
		width: 78px;
	}
=======
	.skill-icon {
		width: 78px;	}
>>>>>>> c8253af7cca21e228e82405509b3e9bba37ad73b

	.skill-icon .javascript {
		width: 170px;
	}
}
<<<<<<< HEAD

/*======= MAC TERMINAL =======*/
.terminal_toolbar {
	display: flex;
	height: 50px;
	width: 100%;
	align-items: center;
	padding: 0 8px;
	box-sizing: border-box;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	background: linear-gradient(#504b45 0%, #3c3b37 100%);
}

.butt {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 23%;
}

.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0;
	margin-right: 5px;
	font-size: 1.8rem;
	height: 1.4rem;
	width: 1.4rem;
	box-sizing: border-box;
	border: none;
	border-radius: 100%;
	background: linear-gradient(#7d7871 0%, #595953 100%);
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2);
	box-shadow: 0px 0px 1px 0px #41403a, 0px 1px 1px 0px #474642;
}

.btn__red {
	background: #ee411a;
}

.btn__yellow {
	background: #ffae00;
}

.btn__green {
	background: #15ff00;
}

.btn:hover {
	cursor: pointer;
}

.btn:focus {
	outline: none;
}

.butt--exit {
	background: linear-gradient(#f37458 0%, #de4c12 100%);
}

.user {
	color: aqua;
	text-shadow: 0 0 7px #FF0000, 0 0 9px #0000FF;
	margin-left: 6px;
	font-size: 1.5rem;
	line-height: 15px;
	font-family: "Montserrat", sans-serif;
}

.glass__box {
	animation: myAnim 1s ease 4s 1 normal forwards;
	background: var(--term-color);
	box-shadow: 0 8px 36px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(15px);
	-webkit-backdrop-filter: blur(14.5px);
	border-radius: 20px;
	border: 1px solid rgba(255, 255, 255, 0.18);
	width: 102%;
	z-index: 3;
}

.terminal__content {
	font-size: 1.9rem;
	text-align: left;
	padding: 1rem;
	width: 100%;
}

.terminal__content p {
	color: var(--color-white);
	text-align: left;
	font-size: 20px;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
	line-height: 1.6;
	padding: 0 14px;
	margin-bottom: 0.7em;
}

.terminal__content span {
	font-weight: bold;
}

#term-spec {
	color: var(--term-spec);
	text-shadow: 0 0 1.8px var(--term-spec-shadow);
}

#tool-term {
	margin-right: 36%;
}
/*======= BUTTON =======*/
@media (min-width: 768px) {
	.butt {
		display: flex;
		align-items: center;
		justify-content: space-around;
		width: 11%;
	}
	.user {
		font-size: 1.9rem;
	}
}

@media (min-width: 1200px) {
	.butt {
		display: flex;
		align-items: center;
		justify-content: space-around;
	}
}

=======
>>>>>>> c8253af7cca21e228e82405509b3e9bba37ad73b
